body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}

#students {
  color: brown;
}
#teachers {
  color: red;
}
.funny_table {
  width: 100%;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}